In [2]:
import sqlite3
import numpy
import scipy
import pandas
import sci

In [51]:

Match = pandas.read_sql_query("select * from Match", db, index_col= "id")
playerAttributes = pandas.read_sql_query("select * from Player_Attributes",db, index_col = "id")

for col_name in list(Match)[0:76]:
    cur.execute("DELETE from Match WHERE {} IS NULL".format(col_name))
db.commit()

In [12]:
db  = sqlite3.connect("../data/database.sqlite")
cur = db.cursor()


Match = pandas.read_sql_query("select * from Match", db, index_col= "id")
playerAttributes = pandas.read_sql_query("select * from Player_Attributes",db, index_col = "id")

In [13]:
Outcome = lambda x: numpy.piecewise(x,[x>0,x==0,x<0],[1,0,-1])
Match = Match.assign(Match_outcome = Match.home_team_goal-Match.away_team_goal)
Match.Match_outcome = Match.Match_outcome.apply(Outcome)

In [17]:
Match.shape

(21361, 115)

In [49]:
Match

,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
id,,,,,,,,,,,,,,,,,,,,,
1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,1,...,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,0,...,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,3,...,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,0,...,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,3,...,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67
6,1,1,2008/2009,1,2008-09-24 00:00:00,492478,8203,8342,1,1,...,1.67,4.35,3.40,1.70,4.50,3.40,1.70,NaN,NaN,NaN
7,1,1,2008/2009,1,2008-08-16 00:00:00,492479,9999,8571,2,2,...,3.60,2.10,3.25,3.00,1.85,3.25,3.75,2.10,3.25,3.10
8,1,1,2008/2009,1,2008-08-16 00:00:00,492480,4049,9996,1,2,...,2.40,2.80,3.25,2.25,2.80,3.20,2.25,2.88,3.25,2.20
9,1,1,2008/2009,1,2008-08-16 00:00:00,492481,10001,9986,1,0,...,3.10,2.25,3.25,2.80,2.20,3.30,2.80,2.25,3.20,2.80
10,1,1,2008/2009,10,2008-11-01 00:00:00,492564,8342,8571,4,1,...,10.00,1.30,4.35,8.50,1.25,5.00,10.00,1.29,4.50,9.00
11,1,1,2008/2009,10,2008-10-31 00:00:00,492565,9985,9986,1,2,...,10.00,1.28,4.50,8.50,1.25,5.00,10.00,1.25,5.00,9.00
12,1,1,2008/2009,10,2008-11-02 00:00:00,492566,10000,9991,0,2,...,2.50,2.65,3.30,2.30,2.60,3.25,2.50,2.62,3.20,2.38
13,1,1,2008/2009,10,2008-11-01 00:00:00,492567,9994,9998,0,0,...,4.25,2.00,3.20,3.40,1.85,3.30,4.00,1.83,3.30,3.80
14,1,1,2008/2009,10,2008-11-01 00:00:00,492568,7947,10001,2,2,...,2.38,2.75,3.20,2.30,2.75,3.25,2.35,2.75,3.20,2.30
15,1,1,2008/2009,10,2008-11-01 00:00:00,492569,8203,9999,1,2,...,4.75,1.70,3.40,4.35,1.75,3.40,4.25,1.70,3.40,4.33
16,1,1,2008/2009,10,2008-11-01 00:00:00,492570,9996,9984,0,1,...,2.88,2.20,3.25,2.90,2.30,3.25,2.85,2.30,3.20,2.75
17,1,1,2008/2009,10,2008-11-01 00:00:00,492571,4049,9987,1,3,...,1.62,5.50,3.50,1.55,5.25,3.60,1.60,6.00,3.60,1.50
18,1,1,2008/2009,10,2008-11-02 00:00:00,492572,9993,8635,1,3,...,1.80,3.60,3.25,1.90,4.10,3.40,1.80,3.80,3.30,1.83
19,1,1,2008/2009,11,2008-11-08 00:00:00,492573,8635,9994,2,3,...,9.00,1.28,4.50,8.50,1.30,4.75,7.50,1.30,4.50,8.50
20,1,1,2008/2009,11,2008-11-08 00:00:00,492574,9998,9996,0,0,...,2.75,2.35,3.25,2.65,2.30,3.20,2.75,2.30,3.25,2.70
21,1,1,2008/2009,11,2008-11-09 00:00:00,492575,9986,8342,2,2,...,2.10,3.25,3.25,2.00,3.10,3.20,2.15,3.10,3.25,2.10
22,1,1,2008/2009,11,2008-11-07 00:00:00,492576,9984,10000,2,0,...,4.25,1.75,3.25,4.35,1.80,3.30,4.20,1.70,3.30,4.50
23,1,1,2008/2009,11,2008-11-08 00:00:00,492577,9991,7947,1,1,...,7.00,1.35,4.00,7.50,1.40,4.20,7.00,1.36,4.20,7.00
24,1,1,2008/2009,11,2008-11-08 00:00:00,492578,9999,4049,1,2,...,4.00,1.80,3.25,4.00,1.85,3.30,4.00,1.80,3.30,4.00
25,1,1,2008/2009,11,2008-11-08 00:00:00,492579,8571,8203,0,0,...,3.50,2.00,3.25,3.25,1.95,3.20,3.50,2.00,3.25,3.30
26,1,1,2008/2009,11,2008-11-08 00:00:00,492580,10001,9987,1,0,...,2.60,2.40,3.25,2.60,2.50,3.25,2.50,2.50,3.20,2.50
27,1,1,2008/2009,11,2008-11-09 00:00:00,492581,9993,9985,1,3,...,1.95,3.75,3.25,1.85,3.60,3.25,1.95,3.50,3.30,1.91
28,1,1,2008/2009,12,2008-11-16 00:00:00,492582,8342,8635,1,1,...,3.30,2.25,3.10,2.80,2.10,3.20,3.20,2.20,3.20,2.90
29,1,1,2008/2009,12,2008-11-15 00:00:00,492583,9987,9999,1,1,...,10.00,1.25,5.00,9.00,1.27,5.00,8.50,1.25,5.00,9.00
30,1,1,2008/2009,12,2008-11-15 00:00:00,492584,10000,9993,2,2,...,3.40,2.10,3.30,3.10,2.00,3.20,3.50,2.00,3.25,3.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25950,24558,24558,2015/2016,4,2015-08-08 00:00:00,1992066,9956,7896,6,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25951,24558,24558,2015/2016,4,2015-08-08 00:00:00,1992067,10199,9931,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25952,24558,24558,2015/2016,4,2015-08-09 00:00:00,1992068,10190,10243,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25953,24558,24558,2015/2016,4,2015-08-09 00:00:00,1992069,9824,10179,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25954,24558,24558,2015/2016,4,2015-08-09 00:00:00,1992070,10192,10191,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25955,24558,24558,2015/2016,5,2015-08-12 00:00:00,1992071,9931,10191,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25956,24558,24558,2015/2016,5,2015-08-12 00:00:00,1992072,10192,7896,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25957,24558,24558,2015/2016,5,2015-08-12 00:00:00,1992073,10199,10190,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25958,24558,24558,2015/2016,5,2015-08-13 00:00:00,1992074,10179,10243,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25959,24558,24558,2015/2016,5,2015-08-13 00:00:00,1992075,9824,9956,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25960,24558,24558,2015/2016,6,2015-08-22 00:00:00,1992076,7896,9931,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25961,24558,24558,2015/2016,6,2015-08-23 00:00:00,1992077,10179,10192,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25962,24558,24558,2015/2016,6,2015-08-23 00:00:00,1992078,10190,9956,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25963,24558,24558,2015/2016,6,2015-08-23 00:00:00,1992079,10191,9824,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25964,24558,24558,2015/2016,6,2015-08-22 00:00:00,1992080,10243,10199,2,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25965,24558,24558,2015/2016,7,2015-08-29 00:00:00,1992081,7896,10199,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25966,24558,24558,2015/2016,7,2015-08-29 00:00:00,1992082,9824,10190,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25967,24558,24558,2015/2016,7,2015-08-30 00:00:00,1992083,10191,10179,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25968,24558,24558,2015/2016,7,2015-08-30 00:00:00,1992084,9931,10243,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25969,24558,24558,2015/2016,7,2015-08-30 00:00:00,1992085,9956,10192,3,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25970,24558,24558,2015/2016,8,2015-09-12 00:00:00,1992086,9931,10190,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25971,24558,24558,2015/2016,8,2015-09-12 00:00:00,1992087,10192,9824,4,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25972,24558,24558,2015/2016,8,2015-09-13 00:00:00,1992088,10199,9956,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25973,24558,24558,2015/2016,8,2015-09-13 00:00:00,1992089,10243,10191,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25974,24558,24558,2015/2016,8,2015-09-13 00:00:00,1992090,10179,7896,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25975,24558,24558,2015/2016,9,2015-09-22 00:00:00,1992091,10190,10191,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25976,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992092,9824,10199,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25977,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992093,9956,10179,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25978,24558,24558,2015/2016,9,2015-09-22 00:00:00,1992094,7896,10243,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25979,24558,24558,2015/2016,9,2015-09-23 00:00:00,1992095,10192,9931,4,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN